@page "/"
@inject IApiLogic _apiLogic
@inject ILocalStorageService _localStorageService;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button type="button" @onclick="GetProfile" class="nav-link btn btn-link">Log out</button>
<h2>@mes</h2>

@code {
    protected string mes = "ddd";

    protected override Task OnInitializedAsync()
    {
        Snackbar.Add("오예", Severity.Info);
        return base.OnInitializedAsync();
    }

    private async Task  GetProfile()
    {
        mes = "cccc";
        var rsp = await _apiLogic.UserProfileAsync();
        if (rsp.Message == "Success")
            mes= rsp.UserProfile.FirstName;
    }
}