@page "/home"
@page "/"



<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <img src="Images/main1.jpg" Style="height:250px" />
            </div>
        </MudItem>
            <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">DonetDevel's</MudText>
             <MudText Align="Align.Center" Typo="Typo.h4">"Blazor WebAssembly Boilerplate"</MudText>
        </MudItem>
        <MudItem>
            <MudButton @onclick="(()=>GetProfile())">확인</MudButton>
        </MudItem>
        <MudItem>
             <NotificationTest/>
        </MudItem>
     </MudGrid>
</MudContainer>



@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected string mes = "ddd";

    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }

    private async Task GetProfile()
    {
        var authState = await authenticationState;
        if(authState.User.Identity.IsAuthenticated)
        { 
            Snackbar.Add("로그인중", Severity.Info);
        }
        //Snackbar.Add("버튼", Severity.Info);
    }
}